
<p>
  <b>Title:</b>
  <%= event.title %>
</p>

<p>
  <b>Description:</b>
  <%= event.description %>
</p>

<p>
  <b>Date:</b>
  <%= event.date %>
</p>

<p>
  <b>Location:</b>
  <%= event.location %>
</p>

