

<h1>Address D Mess: Tucson</h1>

<div class="billboard-container">
  <div class="billboard-left">
    <img class="billboard-left-img" src="http://placehold.it/450x250"/>
  </div>
  <div class="billboard-right">
    <div class="mess-counter"> 
      <h3>Messes Cleaned</h3>
    </div>

  </div>
</div>

<div class="bottom-container">
  <div class="bottom-left">
      <div id="home-create">
        <div class="sub-header3">
          <h3>Submit a New Mess</h3>
        </div>

<%= link_to 'New Violation', new_violation_path, class: 'new-friend' %>


    </div>
    <div id="home-newmess">
      <div class="sub-header3">  
        <h3>Recently Submitted Messes</h3>
      </div>   
    </div>
  </div>
  <div class="bottom-right">
      <div id="home-events">
        <div class="sub-header3">
         <h3>Upcomming Events</h3>
        </div>  
        <p>No new events at this time</p>
       <div id="home-apps">
         <div class="sub-header3">
           <h3>Get the App</h3>
         </div>
         <a class="get-app" href="https://play.google.com/store/apps/details?id=com.addressdmess">
           <img alt="Android app on Google Play"
                  src="https://developer.android.com/images/brand/en_app_rgb_wo_45.png" />
                  </a>
        <P> Apple App Store app coming soon</p>
      </div>
    </div>

  </div>
</div>







<!-- 
<section id="friends">
</section> -->
