

<h1>Address D Mess: Tucson</h1>

<div class="billboard-container">
  <div class="billboard-left">
    <img class="billboard-left-img" src="/images/before1.jpg"/>
  </div>
  <div class="billboard-right">
    <img class="billboard-right-img" src="/images/after1.jpg" />
  </div>
</div>

<div class="bottom-container">
  <div class="bottom-left">
    <div id="home-create">
      <h3>Submit a New Mess</h3>

<%= link_to 'New Violation', new_violation_path, class: 'new-friend' %>


    </div>
    <div id="home-newmess">
      <h3>Recently Submitted Messes</h3>
    </div>
  </div>
  <div class="bottom-right">
    <div id="home-events">
      <h3>Upcomming Events</h3>
    </div>

  </div>
</div>







<!-- 
<section id="friends">
</section> -->
