  <h1>Submit A Mess</h1>

  <div class="row-fluid">
     <div class="span4">
        <div id="form_map_canvas">
          <%= javascript_tag "initializeFormMap(32.24260, -110.95956, 'form_map_canvas');" %> 
        </div>
    </div>
    
    <div class="span4">
      <%= render 'form' %>
    </div>
    
</div>
