  <h1>Submit A Mess</h1>

  <div class="row-fluid">
     <div class="span4">
        <div id="form_map_canvas">
          <%= javascript_tag "initMap('form_map_canvas', 'mess_create');" %> 
        </div>
    </div>
    
   
      <%= render 'form' %>
    


    
</div>
