$admGreen:	#348034;


@import "bootstrap";


@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	padding-top: 90px;
}

a {
	color: #fff
}

.container {
  margin-right: auto;
  margin-left: auto;
}

/* Header */
#header-title {
	float: left;
	margin-right: 10px;
	margin-left: 5px;
	font-weight: bold;
	font-size: 1.7em;
	color: #fff;
}

#navlist li {
	display: inline-block;
}

.navbar-inner {
  background-color: $admGreen;
}

#header-img {
	float: left;
	height: 80px;;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 5px;
  margin-bottom: 8px;
  @include box_sizing;
}

input {
  height: auto !important;
}


/* form map */

#form_map_canvas {
  width: 100%;
  height: 300px;
  margin-bottom: 15px;
  
}

.form-buttons div {
  float: right;
  margin-left: 10px;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

