// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#event-map-canvas {
  width: 100%;
  height: 250px;
  margin-bottom: 20px;

}

/* Event List */

.list-event {
  background-color: #F2F2F2;
  margin-bottom: 15px;
  width: 90%;
  margin-left: 10px;
}

.list-event h3 {
  margin-bottom: 2px;
  margin-left: 5px;
}

.list-event > p {
  margin-left: 15px;
  margin-top: 2px;
  margin-bottom: 2px;
}


/*Event Show */
#event-info-container {
  margin-left: 10px;
}

#event-info {
  float: left;
}

#event-info-map {
  float: left;
  width: 80%;
  height: 200px;
 
}

#event-info > p {
  margin-left: 10px;
}

#event-mess-container {
  margin-top: 20px;
}






