// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#event-map-canvas {
  width: 100%;
  height: 250px;
  margin-bottom: 20px;

}
