// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/





.vio
{
  margin-top: 10px;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 10px;
  width: 600px;
  

}

.vio li
{
 margin-left: 4px;
 list-style-type: none;


}

.vio-image
{
  padding-left: 10px;
  margin-left: 10px;
  float: right;
}

.location-icon {
  margin-right: 11px;
}

.date-icon {
 margin-right: 5px;
}

.cleaned-icon {
  margin-right: 5px;
}


.green-text {
  color: #003300;
}

.red-text {
  color: #990000;
}

.bold {
  font-weight: bold;
}



.orange-text {
  color: #cc6600;
}

.yellow-text {
  color: #cccc00;
}


