// Place all the styles related to the Violations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$admGreen: #348034;
    
/* Home page styles */

%vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


.billboard-container {
  width: 100%;
  height: 200px;
}

.billboard-main{
  float: left;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #222222;
}

.image-row {
  float: left;
}

.billboard-img {
  width: 33.33%;
  padding: 1px;
  float: left;
  max-height: 175px;
}


.billboard-left-img {
  width: 80%;
  margin: auto;
  display: block;
}

.billboard-right {
  float: left;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.panel-home {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}


.panel-heading {
  background-color: $admGreen !important;
  text-align: center;
  color: #fff !important;
  font-size: 1.2em;
}

.panel-heading  h3 {
  color: #fff;
}


.main-new-mess {
  padding-bottom: 17px;
}

.mess-counter {
  border: 1px gray solid;
  margin: auto;
  text-align: center;
}


.mess-count {
  border: 2px $admGreen solid;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
  font-size: 1.9em;
}

.counter-box {
  border: 3px gray solid;
}

.counter-text {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
}

.billboard-right-img {
  width: 80%;
  margin: auto;
  display: block;
}

.bottom-container {
  width: 100%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

.bottom-left {
  float: left;
  width: 60%;
}


.bottom-right {
  float: left;
  width: 40%;
}

.bottom {
  float: left;
  width: 100%;
  height: 200px;
  margin-top: 30px;
}

#home-newmess {
  height: 100px;
  margin-top: 19px;
}

#home-create {
  height: 100px;
}

#home-events {
  height: 200px;
  text-align: center;
}








/* Edit form image styles */
.img-edit-container {
 float: left;
  width: 100%;
  display: block;
  clear: both;
}

.img-edit-thumb
{
  float: left;
  width: 160px;
}

.img-edit-field {
  float: left;
  width: 50%;
  margin-top: 25px;
  margin-left: 10px;
}

.img-form-container{
  height: 200px;
  margin-top: 10px;
}

.sub-header3 {
  background-color: $admGreen;
  width: 90%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.sub-header3 h3 {
  height: 25px;
  color: #fff;
  font-size: 1.6em;
}

#home-apps {
  text-align: center;
}

.get-app img {
  margin-top: 10px;
}

#home-apps p {
  margin-top: 15px;
}


/* Detail Page */

#detail-map-canvas {
  width: 100%;
  height: 175px;
  margin-bottom: 10px;
}

.detail-info {
  border: 1px Gray solid;
}

#detail-info-table tr {
  
 margin-right: 10px;
}

#detail-info-table tr td {
  padding-right: 10px;
}

#detail-info-table {
  margin-bottom: 15px;
}

.tbl-header {
  font-weight: bold;
  width: 10%;
 /*  background-color: #9BCC8A; */
}

.tbl-data {
  width: 20%;
}

.status-open {
  color: green;
  font-weight: bold;
} 

.status-closed {
  color: red;
  font-weight: bold;
}

.detail-left {
  float: left;
  width: 40%;
/*  border: 1px black solid; */
}

.detail-img-container {
  /* border: 1px solid black; */
}

.detail-img-container div h3 {
  text-align: center;
}

.detail-img {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

.detail-clean-btn {
  float: right;
  margin-top: 10px;
}

.detail-actions {
  float: left;
  margin-top: 10px;
}


/* Mess List Styling */

.mess-map-legend {
  height: 40px;
  float: left;
}


#messes-filter {
  
  float: right;
}

#messes_map_canvas {
  width: 100%;
  height: 250px;
  margin-bottom: 20px;

}



.mess-list-item {
  /*height: 100px; */
  width: 80%;
  height: 130px;
  background-color:  #F2F2F2;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 25px;
  /* border-bottom: 1px solid gray;*/
  float: left;
 
}

.mess-list-img {
  float: left;
  margin-left: 2px;
  padding-right: 5px;
  padding-bottom: 4px;
  width: 150px;
  @extend %vertical-align;
}

.mess-list-img img {
  max-height: 120px;
  max-width: 150px;
}

.mess-list-details {
  float: left;
  margin-left: 15px;
}

.mess-list-data {
  margin-bottom: 10px;
}

.mess-list-details > p {
  margin-bottom: 2px;
}

.mess-list-cleaned-img {
  padding-left: 25px;
  float: left;
  margin-top: 15px;
}

.mess-list-dsc {
  font-size: 1.4em;
}

.pagination {
  clear: both;
  float: right;
}



